.app{
    padding: 48px;
}

body {
    margin: 0; 
    display: flex;
    justify-content: center; 
  }

.return{
    border-radius: 8px;
    font-size: 12px;
    border: solid 2px #aaaaaa;
    background-color: white;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
}
.return:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.return:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}

.toMyListButton{
    font-weight: bold;
    border-radius: 8px;
    font-size: 18px;
    border: solid 2px #aaaaaa;
    background-color: white;
    padding: 8px;
    padding-left: 12px;
    padding-right: 16px;
    margin-left: 80px;
    margin-top: 20px;
    width: 180px;
    height:44px;
}

.toMyListButton:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.toMyListButton:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}

.registerDone {
    background-color: #ff6fc3; 
    opacity: 0.6; 
    color: #000000;
    pointer-events: none; 
    cursor: not-allowed; 
}

.registerDone:hover{
    background-color: #ff6fc3;
}

.rentalBook{
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
    border: solid 2px #aaaaaa;
    background-color: #005FFF	;
    color: #eeeeee;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 220px;
    margin-top: 20px;
    width: 160px;
}

.rentalBook:hover{
    background-color: #005effc2;
    cursor: pointer;
}
.rentalBook:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}

.returnBook {
    font-weight: bold;
    border-radius: 8px;
    font-size: 16px;
    border: solid 2px #aaaaaa;
    background-color: #FF6600	;
    color: #eeeeee;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: 4px;
    margin-top: 20px;
    width: 160px;
}

.returnBook:hover{
    background-color: #ff6600ce;
    cursor: pointer;
}
.returnBook:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}

.disabledButton {
    background-color: #ccc; 
    pointer-events: none; 
    cursor: not-allowed; 
    opacity: 0.6; 
    color: #7d7d7d;
  }


.menuTab{
    width:130px;
    float: right;
    border-radius: 8px;
    font-size: 12px;
    border: solid 2px #aaaaaa;
    background-color: white;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
}
.menuTab:hover{
    background-color: #eeeeee;
    cursor: pointer;
}
.menuTab:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
}

.bookHeader {
    justify-content: center;
    align-items: center;
}

.bookTitle {
    display: flex;
    margin-top: 20px;
}

.ListButtons{
    display: flex;
}

.requestButtons{
    display: flex;
}

.bookDataDetail{
    display: flex;
    line-height: 10px;
    width: 1272px;
    border-bottom: #aaaaaa solid 2px;
    border-top: #aaaaaa solid 2px;
    margin-bottom: 24px;
}

.bookflexrow {
    display: row;
}

.detailHead{
    color:dimgray;
}

.star{

    padding-left: 20px;
}

.colon{
    margin-right: 10px;
    margin-left: 10px;
}

.tbody{
    font-size: 13px;
    color: dimgray;
}

.user_name:hover{
    color: black;
    cursor: pointer;
}

.review{
    font-size: 18px;
}

.comment{
    margin-left: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.comments{
    background-color: whitesmoke;
    padding: 4px;
    margin-bottom: 8px;
}

.explanation{
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 0;
}

.chapter{
    margin-top: 0;
    margin-bottom: 25px;
}
.chapter_name{
    margin-top: 0;
    margin-bottom: 0;
}

.img{
    width : 160px;
    height : 240px;
    padding: 10px;
}