<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Display Books Data in Table Using Vue.js CDN</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.20/dist/vue.global.prod.js"></script>
  <link rel="stylesheet" href="css/main.css"></link>
</head>
<body>
  <div id="app" class="app">
    <button @click="goBack()" class="return">戻る</button>
    <button v-on:click="handleRowClickEmp(1)" class="menuTab">マイページ</button>
    <button v-on:click="handleRowClickAllEmp(0)" class="menuTab">社員検索ページ</button>
  <div class="header">
      <div>
        <div class="empName">{{employee.user_name}}</div>
        <div class="empDetail">
          <div>{{employee.department}}</div>
          <div>{{employee.year}}年目 {{employee.job}}</div>
        </div>
      </div>
    </div>
    <div class="main">
      <div v-for="(goal) in goals" class="goal">
      <div class="goalName">目的：{{goal.goalame}}</div>    
      <table class="booksTable">
          <tr class="tableHeader">
            <th>タイトル</th>
            <th>進捗状況</th>
            <th>読了年次</th>
            <th>職種</th>
            <th>評価☆</th>
            <th>コメント</th>
          </tr>
          <tr v-for="(record) in goal.recordList" class="tableMain" v-on:click="handleRowClick(record.id)">
            <td class="booktd">{{ getBook(record.record_id) }}</td>
            <td><div class="bookStatus" :style="{backgroundColor:getColor(record.record_id)}">{{ getStatus(record.record_id) }}</div></td>
            <td>{{ getYear(record.record_id) }} 年目</td>
            <td>{{ getJob(record.record_id) }}</td>
            <td>☆ {{ getStar(record.record_id) }}</td>
            <td class="booktd">{{ getComment(record.record_id) }}</td>
            <td v-if="getStatus(record.record_id) == '予定' && employeeId === 1" v-on:click="handleDeleteClick(record.id,$event)" class="delete"> × </td>
            <td v-else-if="employeeId === 1" class="hyphen"> - </td>
        </tr>    
      </table>
      </div>
    </div>
    <div class="footer">
   
    </div>
  </div>
  <script src ="js/main.js"></script>
  
</body>
</html>