<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Display Books Data in Table Using Vue.js CDN</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.20/dist/vue.global.prod.js"></script>
  <link rel="stylesheet" href="css/main.css"></link>
</head>
<body>
  <div id="app" class="app">
    <button @click="goBack()" class="return">戻る</button>
    <button v-on:click="handleRowClickEmp(0)" class="menuTab">マイページ</button>
    <button v-on:click="handleRowClickAllEmp(0)" class="menuTab">社員検索ページ</button>
  <div class="header">
      <div>
        <div class="empName">{{employee.user_name}}</div>
        <div class="empDetail">
          <div>{{employee.department}}</div>
          <div>{{employee.year}}年目 {{employee.job}}</div>
        </div>
      </div>
    </div>
    <div class="main">
      <div v-for="(goal,index1) in employee.goalList" :key="index1" class="goal">
      <p class="goalName">■目的： {{ employee.goalList[index1].goal}}</p>    
      <table class="booksTable">
          <tr class="tableHeader">
            <th>タイトル</th>
            <th>進捗状況</th>
            <th>読了年次</th>
            <th>職種</th>
            <th>評価☆</th>
            <th>コメント</th>
          </tr>
          <tr v-for="(book,index) in employee.goalList[index1].booksList"  :key="index" v-on:click="handleRowClick(book.id)" class="tableMain">
              <td class="booktd">{{ book.title }}</td>
              <td><div class="bookStatus" :style="{backgroundColor: book.color}">{{ book.status }}</div></td>
              <td>{{ book.year }}</td>
              <td>{{ book.job }}</td>
              <td>{{ book.star }}</td>
              <td class="booktd">{{ book.review }}</td>
          </tr>    
      </table>
      </div>
    </div>
    <div class="footer">
   
    </div>
  </div>
  <script src ="js/main.js"></script>
  
</body>
</html>